<%-# ====================================================================== -%>
<%-# ---------------------------------------------------------------------- -%>
<%-#                                                                        -%>
<%-#  \date			May 2013                                                -%>
<%-#  \author		TNick                                                   -%>
<%-#                                                                        -%>
<%-#  \brief		Partial view for creating directories                   -%>
<%-#                                                                        -%>
<%-#                                                                        -%>
<%-# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~- %>
<%-# Please read COPYING and README files in root folder                    -%>
<%-# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -%>
<%-#                                                                        -%>
<%-# ---------------------------------------------------------------------- -%>
<%-# ====================================================================== -%>
<%-#                                                                        -%>
<%-#                                                                        -%>
<%-#                                                                        -%>
<%-#                                                                        -%>
<%-#  CONTENT    ---------------------------------------------------------- -%>
  

<%-# = nested_messages @directories -%>
<% for directory in @directories %>
  <div class="directory">
    <%= directory.name %>
  </div>
<% end %>
  
<%= form_for(@directory) do |f| %>

  <%= render 'shared/error_messages', object: f.object %>
  
  <div class="field">
    <%= f.text_area :name, placeholder: "Name" %>
  </div>
  
  <%= f.submit "Create", class: "btn btn-large btn-primary" %>
  
<% end %>

<%-#  CONTENT    ========================================================== -%>
<%-#                                                                        -%>
<%-#                                                                        -%>
<%-#                                                                        -%>
<%-#                                                                        -%>
<%-# ---------------------------------------------------------------------- -%>
<%-# ====================================================================== -%>
