<%-# ====================================================================== -%>
<%-# ---------------------------------------------------------------------- -%>
<%-#                                                                        -%>
<%-#  \date			May 2013                                                -%>
<%-#  \author		TNick                                                   -%>
<%-#                                                                        -%>
<%-#  \brief		Partial view for the file system                        -%>
<%-#                                                                        -%>
<%-#                                                                        -%>
<%-# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~- %>
<%-# Please read COPYING and README files in root folder                    -%>
<%-# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -%>
<%-#                                                                        -%>
<%-# ---------------------------------------------------------------------- -%>
<%-# ====================================================================== -%>
<%-#                                                                        -%>
<%-#                                                                        -%>
<%-#                                                                        -%>
<%-#                                                                        -%>
<%-#  CONTENT    ---------------------------------------------------------- -%>
  

  <div id="fs_toolb" class="toolbar-icons" style="display: none;">
    <%= render 'shared/tbbutton', name: "new_file", upath: "directories" %>
	<%= render 'shared/tbbutton', name: "new_dir", upath: "directories/create" %>
	<%= render 'shared/tbbutton', name: "edit_name", upath: "directories/create" %>
	<%= render 'shared/tbbutton', name: "cut", upath: "directories/create" %>
	<%= render 'shared/tbbutton', name: "copy", upath: "directories/create" %>
	<%= render 'shared/tbbutton', name: "paste", upath: "directories/create" %>
	<%= render 'shared/tbbutton', name: "delete", upath: "directories/create" %>
	<%= render 'shared/tbbutton', name: "undo", upath: "directories/create" %>
	<%= render 'shared/tbbutton', name: "redo", upath: "directories/create" %>
  </div>
  
  <div id="fs_notifiers" class="fs_notifiers" onclick="$(this).hide();" >
    <div id="fs_notifier_cont" class="fs_notifier_cont">
      
    </div>
    <p align="center" style="font-size:0.7em;">(click to dismiss)</p>
  </div>
  
  <div class="directory_tree" id="directory_tree" style="height:20em;">
    <%= nested_directories( @directories ) %>
  </div>
  
  <script type="text/javascript">
    $(function () {
      fsInit();
    });
	$("a[id^=tb_]").click(function() {
	  fsAction( this.id );
	});
  </script>
  
<%-#  CONTENT    ========================================================== -%>
<%-#                                                                        -%>
<%-#                                                                        -%>
<%-#                                                                        -%>
<%-#                                                                        -%>
<%-# ---------------------------------------------------------------------- -%>
<%-# ====================================================================== -%>
