<%-# ====================================================================== -%>
<%-# ---------------------------------------------------------------------- -%>
<%-#                                                                        -%>
<%-#  \date			May 2013                                                -%>
<%-#  \author		TNick                                                   -%>
<%-#                                                                        -%>
<%-#  \brief		Helper code available in Views/Helpers; may be          -%>
<%-#                explicitly included in other places                     -%>
<%-#                                                                        -%>
<%-#                                                                        -%>
<%-# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~- %>
<%-# Please read COPYING and README files in root folder                    -%>
<%-# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -%>
<%-#                                                                        -%>
<%-# ---------------------------------------------------------------------- -%>
<%-# ====================================================================== -%>
<%-#                                                                        -%>
<%-#                                                                        -%>
<%-#                                                                        -%>
<%-#                                                                        -%>
<%-#  HEADER    ----------------------------------------------------------- -%>


<%-# HTML5 document -%>
<!DOCTYPE html>


<html>


  <head>
    
    
    <%-# use full_title from ApplicationHelper module to generate it -%>
    <title>
      <%= full_title(yield(:title)) %>
    </title>
    
    <!--link rel="stylesheet" type="text/css" 
    href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/themes/cupertino/jquery-ui.css" /-->
    <%-# standard components: stylesheets, javascript, ... -%>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>


    <%-# some vendor specific set-up to emulate HTML5 -%>
    <%= render 'layouts/shim' %>  
    
    
  </head>
  
<%-#  HEADER    =========================================================== -%>
<%-#                                                                        -%>
<%-#                                                                        -%>
<%-#                                                                        -%>
<%-#                                                                        -%>
<%-#  CONTENT    ---------------------------------------------------------- -%>
  
  
  <body>
  
    <%-# common header -%>
	<%= render 'layouts/header' %>
	

	<%-# container div for the rest of the page - class="container"-%>
    <div class="below_header">
    
      <%-# Temporary messages get presented in this space -%>
	  <% flash.each do |key, value| %>        
        <%= content_tag( :div, value, class: "alert alert-#{key}" ) %>
      <% end %>
      
      <%-# message panel -%>
      <%= render 'shared/message' %>
      
      <%-# Actual content of the page -%>
      <%= yield %>
      
      
      <%-# common footer -%>
	  <%= render 'layouts/footer' %>
	  
	  
	  <%-# debug information only visible in development environment -%>
	  <!--%= debug(params) if Rails.env.development? %-->
	  
	  
    </div>
    
  </body>
  
  
</html>


<%-#  CONTENT    ========================================================== -%>
<%-#                                                                        -%>
<%-#                                                                        -%>
<%-#                                                                        -%>
<%-#                                                                        -%>
<%-# ---------------------------------------------------------------------- -%>
<%-# ====================================================================== -%>
